<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tackle</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>1</integer>
		<key>defensemult</key>
		<integer>2</integer>
		<key>speedmult</key>
		<integer>2</integer>
		<key>specialmult</key>
		<integer>0</integer>
	</dict>
	<key>Scratch</key>
	<dict>
		<key>damagebase</key>
		<integer>30</integer>
		<key>attackmult</key>
		<integer>2</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>3</integer>
		<key>specialmult</key>
		<integer>0</integer>
	</dict>
	<key>Ember</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Roar</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Vine Whip</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Shock</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Thunder</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Flame Attack</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Water Gun</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Wave</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Gust</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
	<key>Air Attack</key>
	<dict>
		<key>damagebase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>3</integer>
		<key>defensemult</key>
		<integer>0</integer>
		<key>speedmult</key>
		<integer>1</integer>
		<key>specialmult</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
