<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Potion</key>
	<dict>
		<key>type</key>
		<string>heal</string>
		<key>heal</key>
		<integer>25</integer>
	</dict>
	<key>Pokeball</key>
	<dict>
		<key>type</key>
		<string>catch</string>
		<key>catch</key>
		<real>0.25</real>
	</dict>
	<key>Super Potion</key>
	<dict>
		<key>type</key>
		<string>heal</string>
		<key>heal</key>
		<integer>100</integer>
	</dict>
	<key>Ultraball</key>
	<dict>
		<key>type</key>
		<string>catch</string>
		<key>catch</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
