<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Pikachu</key>    
	<dict>
		<key>hpbase</key>
		<integer>20</integer>
		<key>hpmult</key>
        <integer>4</integer>
		<key>attackbase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>8</integer>
		<key>defensebase</key>
		<integer>20</integer>
		<key>defensemult</key>
		<integer>2</integer>
		<key>speedbase</key>
		<integer>60</integer>
		<key>speedmult</key>
		<integer>12</integer>
		<key>specialbase</key>
		<integer>30</integer>
		<key>specialmult</key>
		<integer>5</integer>
    </dict>
    <key>Charmander</key>    
	<dict>
		<key>hpbase</key>
		<integer>25</integer>
		<key>hpmult</key>
        <integer>5</integer>
		<key>attackbase</key>
		<integer>50</integer>
		<key>attackmult</key>
		<integer>10</integer>
		<key>defensebase</key>
		<integer>30</integer>
		<key>defensemult</key>
		<integer>5</integer>
		<key>speedbase</key>
		<integer>30</integer>
		<key>speedmult</key>
		<integer>3</integer>
		<key>specialbase</key>
		<integer>10</integer>
		<key>specialmult</key>
        <integer>2</integer>
    </dict>
    <key>Bulbasaur</key>    
	<dict>
		<key>hpbase</key>
		<integer>30</integer>
		<key>hpmult</key>
        <integer>6</integer>
		<key>attackbase</key>
		<integer>30</integer>
		<key>attackmult</key>
		<integer>5</integer>
		<key>defensebase</key>
		<integer>60</integer>
		<key>defensemult</key>
		<integer>15</integer>
		<key>speedbase</key>
		<integer>10</integer>
		<key>speedmult</key>
		<integer>2</integer>
		<key>specialbase</key>
		<integer>40</integer>
		<key>specialmult</key>
        <integer>8</integer>
    </dict>
</dict>
</plist>
