<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pikachu</key>
	<dict>
		<key>actions</key>
		<dict>
			<key>15</key>
			<string>Thunder</string>
			<key>10</key>
			<string>Shock</string>
			<key>5</key>
			<string>Scratch</string>
			<key>0</key>
			<string>Tackle</string>
		</dict>
		<key>battlepath</key>
		<string>Pikachubattle.png</string>
		<key>opppath</key>
		<string>Pikachuopp.png</string>
		<key>spritepath</key>
		<string>Pikachusprite.jpg</string>
		<key>type</key>
		<string>Ground</string>
		<key>hpbase</key>
		<integer>20</integer>
		<key>hpmult</key>
		<integer>4</integer>
		<key>attackbase</key>
		<integer>40</integer>
		<key>attackmult</key>
		<integer>8</integer>
		<key>defensebase</key>
		<integer>20</integer>
		<key>defensemult</key>
		<integer>2</integer>
		<key>speedbase</key>
		<integer>60</integer>
		<key>speedmult</key>
		<integer>12</integer>
		<key>specialbase</key>
		<integer>30</integer>
		<key>specialmult</key>
		<integer>5</integer>
	</dict>
	<key>Charmander</key>
	<dict>
		<key>actions</key>
		<dict>
			<key>15</key>
			<string>Flame Attack</string>
			<key>10</key>
			<string>Ember</string>
			<key>5</key>
			<string>Scratch</string>
			<key>0</key>
			<string>Tackle</string>
		</dict>
		<key>battlepath</key>
		<string>Charmanderbattle.png</string>
		<key>opppath</key>
		<string>Charmanderopp.png</string>
		<key>spritepath</key>
		<string>Charmandersprite.jpg</string>
		<key>type</key>
		<string>Ground</string>
		<key>hpbase</key>
		<integer>25</integer>
		<key>hpmult</key>
		<integer>5</integer>
		<key>attackbase</key>
		<integer>50</integer>
		<key>attackmult</key>
		<integer>10</integer>
		<key>defensebase</key>
		<integer>30</integer>
		<key>defensemult</key>
		<integer>5</integer>
		<key>speedbase</key>
		<integer>30</integer>
		<key>speedmult</key>
		<integer>3</integer>
		<key>specialbase</key>
		<integer>10</integer>
		<key>specialmult</key>
		<integer>2</integer>
	</dict>
	<key>Bulbasaur</key>
	<dict>
		<key>actions</key>
		<dict>
			<key>15</key>
			<string>Leaf Attack</string>
			<key>10</key>
			<string>Vine Whip</string>
			<key>5</key>
			<string>Roar</string>
			<key>0</key>
			<string>Tackle</string>
		</dict>
		<key>battlepath</key>
		<string>Bulbasaurbattle.png</string>
		<key>opppath</key>
		<string>Bulbasauropp.png</string>
		<key>spritepath</key>
		<string>Bulbasaursprite.jpg</string>
		<key>type</key>
		<string>Ground</string>
		<key>hpbase</key>
		<integer>30</integer>
		<key>hpmult</key>
		<integer>6</integer>
		<key>attackbase</key>
		<integer>30</integer>
		<key>attackmult</key>
		<integer>5</integer>
		<key>defensebase</key>
		<integer>60</integer>
		<key>defensemult</key>
		<integer>15</integer>
		<key>speedbase</key>
		<integer>10</integer>
		<key>speedmult</key>
		<integer>2</integer>
		<key>specialbase</key>
		<integer>40</integer>
		<key>specialmult</key>
		<integer>8</integer>
	</dict>
	<key>Squirtle</key>
	<dict>
		<key>actions</key>
		<dict>
			<key>15</key>
			<string>Wave</string>
			<key>10</key>
			<string>Water Gun</string>
			<key>5</key>
			<string>Roar</string>
			<key>0</key>
			<string>Tackle</string>
		</dict>
		<key>battlepath</key>
		<string>Squirtlebattle.png</string>
		<key>opppath</key>
		<string>Squirtleopp.png</string>
		<key>spritepath</key>
		<string>Squirtlesprite.jpg</string>
		<key>type</key>
		<string>Water</string>
		<key>hpbase</key>
		<integer>25</integer>
		<key>hpmult</key>
		<integer>3</integer>
		<key>attackbase</key>
		<integer>25</integer>
		<key>attackmult</key>
		<integer>5</integer>
		<key>defensebase</key>
		<integer>75</integer>
		<key>defensemult</key>
		<integer>18</integer>
		<key>speedbase</key>
		<integer>15</integer>
		<key>speedmult</key>
		<integer>5</integer>
		<key>specialbase</key>
		<integer>30</integer>
		<key>specialmult</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
